/* navigation  */
#navbar {
     flex-direction: column;
}
#navbar ul li a{
     font-size: 0.9rem;
     padding: 2px 8px 2px 8px;
}
/* home section  */
#home{
     height: 280px;
     padding: 250px 20px 60px 20px;
}
#home::before {
     height: 380px;
}
#home p {
     font-size: 14px;
}
/* service section  */


#services{
     flex-direction: column;
}

#services .box {
     padding: 10px;
     margin: 0px 2px 15px 2px;
}

#services .box img {
     height: 70px;
}

/* client section  */
#clients {
     flex-wrap: wrap;
}
#clients img {
     height: 70px;
     padding: 0px;
}

/* contact us section  */
#contact-box form{
     width: 80%;
}

/* footer section  */

/* utility classes  */
.h-primary {
    font-size: 1.5rem;
}

.btn {
     font-size: 13px;
     padding: 4px 8px;
}


/* #282828

#191919

rgba(40, 40, 40, .8)

#323232 */